* {
    font-size: 14px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: normal; 
}
ul {
    padding:0;
}
ul li {
    list-style-type: none;
}
p {
    margin-bottom: 2px;
}
.table {
    margin-bottom: 0;
}
.page-wrapper {
    background-color: #F0F1F3;
    float: left;
    width: 100%;
}
.navbar {
    border-bottom: 1px solid #59A059;
}
.navbar-brand {
    padding: 0;
}
#filterContainer {
    padding: 20px 0 5px;
}
.no-records {
    display: none;
}
.loader {
  width : 80px;
  height: 80px;
  border: 16px solid white;
  border-top:16px solid #BADA55;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.spin {
  animation: spinner 1.5s linear infinite;
}
.pagination-wrapper {
    margin-top: 20px;
}
.jump-to-page {
    margin-left: 5px;
}
.jump-to-page input {
    width: 80px;
    display: inline;
}
.pagination li a.prev, .pagination li a.next {    
    padding: .46rem .75rem;
}
.page-view {
    text-align: right;
    font-weight: bold;
}
#cricketTeamBoard i {
    float: right;
}
#cricketTeamBoard th {
    cursor: pointer;
}
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

